
asgiref==3.4.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.8
Django==3.2.7
django-cors-headers==3.11.0
django-rest-framework==0.1.0
djangorestframework==3.12.4
gunicorn==20.1.0
heroku==0.1.4
httplib2==0.14.0
idna==2.8
itypes==1.2.0
Jinja2==3.0.3
Markdown==3.1.1
MarkupSafe==2.0.1
Pillow==7.0.0
Pygments==2.3.1
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.14.0
virtualenv==20.8.0
